<#setting number_format="#0.###">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Prj2EPSG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex" />
    <link type="text/css" rel="stylesheet" href="${html_webroot}/static/css/screen.css" />
    <link rel="shortcut icon" href="${html_webroot}/static/img/favicon.ico" />
  </head>
<body>
  <div class="container">
    <div class="header">
      <h1><a href="${html_webroot}/search">Prj2EPSG</a></h1>
      <ul>
        <li><a class="logo skygone" href="http://www.skygoneinc.com/">Skygone</a></li>
        <li><a class="logo opengeo" href="http://opengeo.org/">OpenGeo</a></li>
      </ul>
    </div><!-- End .header -->

    <div class="content">
